<h1>Beatworm</h1>

<h3>Choose an artist</h3>


      <%= form_tag artists_path, :method => 'get', :id => "artists_search", :remote => true do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
      <% end %>

      <div id="artistContain">
        <%= render @artists %>
        
      </div>
      <div class="paginateContain">
        <%= will_paginate @artists %>
      </div>




<br>

<%= link_to 'New Artist', new_artist_path %>
